# Diretório de Dependências
/node_modules

# Arquivos de Output do Compilador (o que está em /dist)
/dist

# Logs e Cache
*.log
npm-debug.log*

# Arquivos de Sistema Ocultos
.DS_Store

# Variáveis de Ambiente (MUITO IMPORTANTE para segurança)
.env
.env.local

# Arquivos Temporários de Ferramentas
.ts-node
/src/generated/prisma
